.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 6rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  border-radius: 0.6rem;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-0.8rem) skewX((12deg));
    backface-visibility: hidden;
  }

  img {
    height: 100%;
    transform: translateX(-3rem) scale(1.4);
    backface-visibility: hidden;
    filter: blur(1px) brightness(80%);
    transition: all 0.3s ease-out;
    display: block;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    opacity: 0;
    transition: all 0.2s ease-out;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8rem;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover img {
    filter: blur(0);
    transform: scale(1) translateX(-3rem);
  }
}
