.about-section {
  background-color: $color-gray-1;
  padding: 18rem 0 35rem;
  margin-top: -10rem;
}

.features-section {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.821), rgba(40, 180, 133, 0.829)), url("../img/nat-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  &>* {
    transform: skewY(7deg)
  }
}
