.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.821), rgba(40, 180, 133, 0.829)), url("./bg.jpg");
  background-size: cover;
  background-position: top;
  border-radius: 2px;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 30px;
  left: 30px;
}

.logo {
  height: 30px;
  width: auto;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
